akinator.py==5.0.0
apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
APScheduler==3.6.3
astroid==2.5.6
async-lru==1.0.2
btrfsutil==5.12.1
CacheControl==0.12.6
cachetools==4.2.2
catfish==4.16.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptg==0.2.post4
cryptography==3.4.7
distlib==0.3.2
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
gufw==21.4.0
html5lib==1.1
idna==3.2
isort==5.8.0
keyutils==0.6
lazy-object-proxy==1.6.0
lensfun==0.3.95
LibAppArmor==3.0.1
lightdm-gtk-greeter-settings==1.2.2
louis==3.18.0
Markdown==3.3.4
mccabe==0.6.1
menulibre==2.2.1
meson==0.58.1
more-itertools==8.7.0
msgpack==1.0.2
mugshot==0.4.3
netsnmp-python==1.0a1
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.2
pep517==0.10.0
pexpect==4.8.0
Pillow==8.2.0
ply==3.11
progress==1.5
psutil==5.8.0
ptyprocess==0.7.0
pyaes==1.6.1
pyasn1==0.4.8
pycairo==1.20.0
pycparser==2.20
PyGObject==3.40.1
pylint==2.8.3
pymongo==3.11.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
Pyrogram==1.2.9
pysmbc==1.0.23
PySocks==1.7.1
python-distutils-extra==2.39
python-libtorrent==1.2.11
python-telegram-bot==13.7
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
reportlab==3.5.67
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
rsa==4.7.2
six==1.16.0
speedtest-cli==2.1.3
team==1.0
Telethon==1.22.0
TgCrypto==1.2.2
toml==0.10.2
tornado==6.1
tzlocal==2.1
udiskie==2.3.3
ufw==0.36
urllib3==1.26.5
webencodings==0.5.1
wrapt==1.12.1
